/* Large Screen Styling */
@media (min-width: 1200px) {

    /* Hides Mobile Display */
    .mobile-hamburger {
        display: none;
    }

    .nav-bar {
        padding: 0 1rem;
    }

    /* Logo */
    .logo {
        height: 100px;
    }

    /* Desktop Navigation Menu */
    .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: end;
        top: 1rem;
        width: 50%;
        padding-top: 1.75rem;
        padding-right: 3rem;
        padding-bottom: 0;
        background-image: none;
        box-shadow: none;
    }

    .nav-item {
        margin-left: 3rem;
    }

    .nav-link {
        text-decoration: none;
        color: var(--light-color);
        font-size: 1.85rem;
        font-family: 'Teko', sans-serif;
    }

    .current {
        border-bottom: solid var(--light-color);
    }

    /* Main Content Styling */
    .main-header {
        font-size: 1.75rem;
    }

    .main-header>h1 {
        cursor: pointer;
    }

    .main-header>span {
        transition: .5s linear;
    }

    .cross {
        top: 60%;
        width: 230px;
    }

    /* Hover Effects */
    .nav-link:hover {
        color: var(--secondary-color);
        border-bottom: solid var(--light-color);
    }

    h1:hover>span {
        margin-right: 5px;
        text-transform: uppercase;
    }

    h1:hover>span {
        color: #fff;
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff;
    }

}