/* Large Screen Styling */
@media screen and (min-width: 1200px) {

    /* Hides Mobile Display */
    .mobile-hamburger {
        display: none;
    }

    .nav-bar {
        padding: 0 1rem;
    }

    /* Logo */
    .logo {
        width: 15%;
        padding-top: 1rem;
        padding-left: 4rem;
    }

    /* Desktop Navigation Menu */
    .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: end;
        top: 1rem;
        width: 50%;
        padding-top: 1.75rem;
        padding-right: 3rem;
        padding-bottom: 0;
        background-image: none;
        box-shadow: none;
    }

    .nav-item {
        margin-left: 3rem;
    }

    .nav-link {
        text-decoration: none;
        color: var(--light-color);
        font-size: 3.25rem;
        font-family: 'Teko', sans-serif;
    }

    .current {
        border-bottom: solid var(--light-color);
    }

    /* Homepage - Main Content Styling */
    .main-header {
        font-size: 2.75rem;
    }

    .main-header>h1 {
        cursor: pointer;
    }

    .main-header>span {
        transition: .5s linear;
    }

    .cross {
        width: 20%;
    }

    /* Meditation App */

    /* Time Section */
    .time-select {
        margin-top: 2rem;
    }

    .time-select>button {
        width: 45%;
        margin: 2rem 0;
        border-radius: 15px;
    }

    /* Time Display */
    .time-display {
        bottom: -2rem;
    }

    /* Player Container */

    .player-container>svg {
        height: 65%;
    }

    /* Sound Picker */
    .sound-picker {
        margin-top: 2rem;
    }

    .sound-picker>button {
        height: 8.5rem;
        width: 8.5rem;
        padding: 2rem;
        border-radius: 15px;
        margin: 2.75rem 0;
    }

    /* SVG Play Icon */
    .play {
        width: 15%;
    }

    /* Quotes Page */
    .main-content>.container>.card>.box>.content>p {
        font-size: 1.35rem;
    }


    /* About Page */

    .about {
        flex-direction: row;

    }

    .about>img {
        width: 30%;

    }

    .about-content {
        width: 60%;
        margin-left: 2rem;
        padding: 3rem;
    }

    /* Contact Page */
    .form-container {
        width: 75rem;
    }


    /* Hover Effects */
    .nav-link:hover {
        color: var(--secondary-color);
        border-bottom: solid var(--light-color);
    }

    h1:hover>span {
        margin-right: 5px;
        text-transform: uppercase;
    }

    h1:hover>span {
        color: #fff;
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff;
    }

    .time-select>button:hover {
        background: var(--main-color);
        color: var(--dark-color);
    }

    .sound-picker>button:hover {
        cursor: pointer;
    }

    .play:hover {
        cursor: pointer;
    }


    .main-content>.container>.card>.box:hover {
        transform: translateY(-50px);

    }


    .main-content>.container>.card>.box>.content>a:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        background: #fff;
        color: #000;
    }


    .form-container>.form>button:hover {
        background: var(--light-color);
        color: var(--dark-color);
    }
}